<% if @report.issues.any? %>
  <% @report.issues.includes(:status, :project, :fixed_version).each do |issue| %>
    <tr>
      <td><%= link_to issue.id, issue_path(issue) %></td>
      <td><%= issue.subject %></td>
      <td><%= issue.status.name %></td>
      <td><%= issue.project.name %></td>
      <td><%= issue.fixed_version&.name %></td>
      <td><%= format_date(issue.start_date) %></td>
      <td><%= format_date(issue.due_date) %></td>
      <td><%= issue.parent&.subject %></td>
      <td><%= issue.custom_field_value(Setting.plugin_report_registry['custom_field_id']) %></td>
      <td class="buttons">
        <%= link_to l(:button_delete),
                    remove_issue_report_report_issues_path(@report, issue_id: issue.id),
                    method: :delete,
                    remote: true,
                    class: 'icon icon-del',
                    data: { confirm: l(:text_are_you_sure) } %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="10" class="text-center"><%= l(:label_no_data) %></td>
  </tr>
<% end %>