<!--# app/views/report_issues/_issues_list.html.erb-->
<% @report.issues.includes(:status, :fixed_version, :project, :parent).each do |issue| %>
  <tr id="issue-row-<%= issue.id %>" data-issue-id="<%= issue.id %>">
    <td><%= check_box_tag 'issue_ids[]', issue.id, false, class: 'issue-checkbox' %></td>
    <td><%= link_to issue.id, issue_path(issue) %></td>
    <td><%= issue.subject %></td>
    <td><%= issue.status.name %></td>
    <td><%= issue.project.name %></td>
    <td><%= issue.fixed_version.try(:name) %></td>
    <td><%= format_date(issue.start_date) %></td>
    <td><%= format_date(issue.due_date) %></td>
    <td><%= issue.parent ? "##{issue.parent.id}" : "" %></td>
    <td class="buttons">
      <%= link_to l(:button_delete),
                  remove_issue_project_report_report_issues_path(@project, @report, id: issue.id),
                  method: :delete,
                  remote: true,
                  class: 'icon icon-del',
                  data: { confirm: l(:text_are_you_sure) } %>
    </td>
  </tr>
<% end %>