<div class="box">
  <%= form_tag add_issues_report_report_issues_path(@report), method: :post, remote: true do %>
    <div class="search-box">
      <%= text_field_tag 'search', nil,
                         class: 'autocomplete',
                         'data-url': search_report_report_issues_path(@report),
                         placeholder: l(:label_search_issues) %>
    </div>

    <div class="issues-selection">
      <table class="list issues">
        <thead>
        <tr>
          <th class="checkbox hide-when-print" style="width: 30px;">
            <%= check_box_tag 'check_all', '', false, class: 'toggle-selection' %>
          </th>
          <th style="width: 50px;">#</th>
          <th><%= l(:field_subject) %></th>
          <th style="width: 15%;"><%= l(:field_project) %></th>
          <th style="width: 15%;"><%= l(:field_version) %></th>
          <th style="width: 12%;"><%= l(:field_status) %></th>
          <th style="width: 90px;"><%= l(:field_start_date) %></th>
          <th style="width: 90px;"><%= l(:field_due_date) %></th>
        </tr>
        </thead>
        <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td class="checkbox hide-when-print">
              <%= check_box_tag 'issue_ids[]', issue.id, false, id: nil %>
            </td>
            <td class="id"><%= link_to issue.id, issue_path(issue) %></td>
            <td class="subject"><%= issue.subject %></td>
            <td class="project"><%= issue.project.name %></td>
            <td class="version"><%= issue.fixed_version.try(:name) %></td>
            <td class="status"><%= issue.status.name %></td>
            <td class="start_date"><%= format_date(issue.start_date) %></td>
            <td class="due_date"><%= format_date(issue.due_date) %></td>
          </tr>
        <% end %>
        <% if @issues.empty? %>
          <tr>
            <td colspan="8" class="text-center"><%= l(:label_no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="buttons">
      <%= submit_tag l(:button_add), class: 'button-positive' %>
      <%= link_to l(:button_cancel), '#', class: 'button', onclick: 'hideModal(this);return false;' %>
    </div>
  <% end %>
</div>