//# plugins/report_registry/app/views/report_issues/remove_issue.js.erb

<% if @report.errors.empty? %>
// Определяем контекст (отчет или задача)
var isReportContext = $('#report-issues-body').length > 0;
var isIssueContext = $('#reports-list').length > 0;

if (isReportContext) {
    // Удаление из контекста отчета
    var $row = $('#issue-row-<%= @issue.id %>');
    $row.fadeOut('fast', function() {
        $(this).remove();

        // Обновляем select2 если он есть
        var $issuesSelect = $('#issues-select');
        if ($issuesSelect.length) {
            $issuesSelect.find('option[value="<%= @issue.id %>"]').remove();
            $issuesSelect.trigger('change');
        }

        // Показываем сообщение о пустом списке если нужно
        if ($('#report-issues-body tr').length === 0) {
            $('#report-issues-body').html('<tr class="no-data"><td colspan="10"><%= j l(:label_no_data) %></td></tr>');
        }
    });
} else if (isIssueContext) {
    // Удаление из контекста задачи
    var $row = $('tr[data-id="<%= @report.id %>"]');
    $row.fadeOut('fast', function() {
        $(this).remove();

        // Показываем сообщение о пустом списке если нужно
        if ($('#reports-list tr').length === 0) {
            $('#reports-list').html('<tr class="no-data"><td colspan="5"><%= j l(:label_no_data) %></td></tr>');
        }
    });
}

// Показываем уведомление
var $notice = $('<div class="flash notice"></div>').html('<%= j l(:notice_successful_delete) %>');
$('#content').prepend($notice);
setTimeout(function() { $notice.fadeOut(function() { $(this).remove(); }); }, 2000);

<% else %>
alert('<%= j l(:error_unable_delete) %>');
<% end %>