<%# app/views/work_plans/global_index.html.erb %>
<% html_title l(:label_work_plans_all) %>

<div class="contextual">
  <% if User.current.allowed_to_globally?(:manage_work_plans_global) %>
    <span class="wp-dropdown">
      <a href="#" class="icon icon-add wp-dropdown-toggle" data-toggle="dropdown"><%= l(:label_create_work_plan) %></a>
      <ul class="wp-dropdown-menu">
        <% projects_with_versions = Project.allowed_to(User.current, :manage_work_plans)
                                         .joins(:versions)
                                         .where.not(versions: { status: 'closed' })
                                         .distinct %>

        <% projects_with_versions.each do |project| %>
          <% available_versions = project.versions
                                       .where.not(status: 'closed')
                                       .where.not(id: WorkPlan.select(:version_id)) %>

          <% if available_versions.any? %>
            <li class="wp-dropdown-header"><%= project.name %></li>
            <% available_versions.each do |version| %>
              <li>
                <%= link_to version.name, new_project_version_work_plan_path(project, version) %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </span>
  <% end %>
</div>

<h2><%= l(:label_work_plans_all) %></h2>

<div class="work-plans">
  <% if @work_plans.any? %>
    <div class="autoscroll">
      <table class="list work-plans">
        <thead>
        <tr>
          <%= sort_header_tag 'id', caption: '#' %>
          <%= sort_header_tag 'name', caption: l(:field_name) %>
          <%= sort_header_tag 'project', caption: l(:field_project) %>
          <%= sort_header_tag 'version', caption: l(:field_version) %>
          <%= sort_header_tag 'year', caption: l(:field_year) %>
          <%= sort_header_tag 'status', caption: l(:field_status) %>
          <th><%= l(:field_total_planned_hours) %></th>
          <th><%= l(:field_contract_hours) %></th>
          <th><%= l(:field_hours_difference) %></th>
          <%= sort_header_tag 'created_on', caption: l(:field_created_on) %>
          <th class="buttons"></th>
        </tr>
        </thead>
        <tbody>
        <% @work_plans.each do |work_plan| %>
          <tr class="<%= cycle('odd', 'even') %> <%= 'hours-overrun' if work_plan.hours_overrun? %>">
            <td class="id"><%= link_to work_plan.id, work_plan_path(work_plan) %></td>
            <td class="name"><%= link_to work_plan.name, work_plan_path(work_plan) %></td>
            <td class="project"><%= link_to work_plan.version.project.name, project_path(work_plan.version.project) %></td>
            <td class="version"><%= link_to work_plan.version.name, version_path(work_plan.version) %></td>
            <td class="year"><%= work_plan.year %></td>
            <td class="status <%= work_plan.status %>"><%= l(:"work_plan_status_#{work_plan.status}") %></td>
            <td class="hours"><%= number_with_precision(work_plan.total_planned_hours, precision: 2) %></td>
            <td class="hours"><%= number_with_precision(work_plan.contract_hours, precision: 2) %></td>
            <td class="hours <%= 'hours-overrun' if work_plan.hours_overrun? %>">
              <%= number_with_precision(work_plan.hours_difference, precision: 2) %>
            </td>
            <td class="created_on"><%= format_time(work_plan.created_at) %></td>
            <td class="buttons">
              <% if work_plan.editable? %>
                <%= link_to l(:button_edit), edit_project_work_plan_path(work_plan.version.project, work_plan), class: 'icon icon-edit' %>
                <%= link_to l(:button_delete), project_work_plan_path(work_plan.version.project, work_plan),
                            method: :delete,
                            data: { confirm: l(:text_are_you_sure) },
                            class: 'icon icon-del' %>
              <% end %>

              <% if work_plan.status == 'черновик' && work_plan.editable? %>
                <%= link_to l(:button_approve), approve_project_work_plan_path(work_plan.version.project, work_plan),
                            method: :patch,
                            class: 'icon icon-approve' %>
              <% end %>

              <% if work_plan.status == 'утвержден' && work_plan.editable? %>
                <%= link_to l(:button_close), close_project_work_plan_path(work_plan.version.project, work_plan),
                            method: :patch,
                            data: { confirm: l(:text_confirm_close_work_plan) },
                            class: 'icon icon-lock' %>
              <% end %>

              <% if work_plan.status != 'черновик' %>
                  <span class="wp-dropdown">
                    <a href="#" class="icon icon-add wp-dropdown-toggle" title="<%= l(:button_create_report) %>" data-toggle="dropdown"></a>
                    <ul class="wp-dropdown-menu report-by-month">
                      <li class="wp-dropdown-header"><%= l(:label_create_report_by_month) %></li>
                      <% (1..12).each do |month| %>
                        <li>
                          <%= link_to l(:'date.month_names')[month], create_report_project_work_plan_path(work_plan.version.project, work_plan, month: month, year: work_plan.year),
                                      method: :post,
                                      data: { confirm: l(:text_confirm_create_report, month: l(:'date.month_names')[month]) } %>
                        </li>
                      <% end %>
                    </ul>
                  </span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <span class="pagination"><%= pagination_links_full @work_plan_pages, @work_plan_count %></span>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <h3><%= l(:label_filters) %></h3>
  <div class="work-plans-filter" id="filters">
    <%= form_tag({}, method: :get) do %>
      <div class="filter-section">
        <label for="filter-status"><%= l(:field_status) %>:</label>
        <%= select_tag "status",
                       options_for_select([
                                            ["", ""],
                                            [l(:"work_plan_status_черновик"), "черновик"],
                                            [l(:"work_plan_status_утвержден"), "утвержден"],
                                            [l(:"work_plan_status_закрыт"), "закрыт"]
                                          ], params[:status]),
                       id: "filter-status" %>
      </div>

      <div class="filter-section">
        <label for="filter-year"><%= l(:field_year) %>:</label>
        <%= select_tag "year",
                       options_for_select([["", ""]] + ((Date.today.year-5)..(Date.today.year+1)).to_a.map{|y| [y.to_s, y]}, params[:year]),
                       id: "filter-year" %>
      </div>

      <div class="filter-submit">
        <%= submit_tag l(:button_apply), name: nil, class: "button-small" %>
        <%= link_to l(:button_clear), global_work_plans_path, class: "button-small" %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'work_plans', plugin: 'report_registry' %>
<% end %>