<p>
  <%= l(:field_enabled_projects) %>
  <%= select_tag 'settings[enabled_projects][]',
                 options_from_collection_for_select(Project.all, :id, :name, Setting.plugin_report_registry['enabled_projects']),
                 multiple: true %>
</p>

<p>
  <%= l(:label_subtask_custom_field) %>
  <%= select_tag 'settings[subtask_field_id]',
                 options_from_collection_for_select(
                   CustomField.where(type: 'IssueCustomField'),
                   :id,
                   :name,
                   Setting.plugin_report_registry['subtask_field_id']
                 ),
                 include_blank: true %>
</p>

<p>
  <%= l(:label_default_tracker) %>
  <%= select_tag 'settings[default_tracker_id]',
                 options_from_collection_for_select(
                   Tracker.sorted,
                   :id,
                   :name,
                   Setting.plugin_report_registry['default_tracker_id']
                 ),
                 required: true %>
</p>

<p>
  <%= l(:label_default_status) %>
  <%= select_tag 'settings[default_status_id]',
                 options_from_collection_for_select(
                   IssueStatus.sorted,
                   :id,
                   :name,
                   Setting.plugin_report_registry['default_status_id']
                 ),
                 required: true %>
</p>

<p>
  <%= l(:label_assignee_role) %>
  <%= select_tag 'settings[assignee_role_id]',
                 options_from_collection_for_select(
                   Role.givable,
                   :id,
                   :name,
                   Setting.plugin_report_registry['assignee_role_id']
                 ),
                 required: true %>
</p>