<div class="box tabular settings">
  <h3><%= l(:label_custom_field_settings) %></h3>

  <div class="form-field">
    <label><%= l(:label_custom_field) %></label>
    <%= select_tag 'settings[custom_field_id]',
                   options_from_collection_for_select(
                     CustomField.where(type: 'IssueCustomField'),
                     :id,
                     :name,
                     @settings['custom_field_id']
                   ),
                   include_blank: true,
                   class: 'select2' %>
    <em class="info"><%= l(:text_custom_field_info) %></em>
  </div>

  <div class="form-field">
    <label><%= l(:label_custom_field_name) %></label>
    <%= text_field_tag 'settings[custom_field_name]',
                       @settings['custom_field_name'],
                       size: 50 %>
    <em class="info"><%= l(:text_custom_field_name_info) %></em>
  </div>
</div>

<% content_for :header_tags do %>
  <style>
      .settings .form-field { margin-bottom: 15px; }
      .settings label { display: block; font-weight: bold; margin-bottom: 5px; }
      .settings em.info { display: block; color: #666; margin-top: 5px; font-size: 0.9em; }
  </style>
<% end %>