<tr class="reports-section">
  <td colspan="4">
    <div class="box">
      <h3><%= l(:label_reports) %></h3>
      <% reports = @project.reports.order(updated_at: :desc) %>

      <% if reports.any? %>
        <%= form_tag(add_project_issue_report_issues_path(@project, @issue), remote: true, id: 'add-to-report-form') do %>
          <p>
            <%= select_tag 'report_id',
                           options_from_collection_for_select(reports, :id, :name),
                           prompt: "#{l(:label_select_report)}",
                           class: 'select2',
                           style: 'width: 300px;' %>
            <%= submit_tag l(:button_add), class: 'button-positive small' %>
          </p>
        <% end %>
      <% end %>

      <table class="list reports">
        <thead>
        <tr>
          <th><%= l(:field_version) %></th>
          <th><%= l(:field_report_name) %></th>
          <th><%= l(:field_report_period) %></th>
          <th><%= l(:field_date_period) %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @issue.reports.includes(:project, :version).order(updated_at: :desc).each do |report| %>
          <tr data-report-id="<%= report.id %>">
            <td><%= report.version.try(:name) || "-" %></td>
            <td><%= link_to(report.name, edit_project_report_path(report.project, report)) %></td>
            <td><%= report.period %></td>
            <td><%= "#{format_date(report.start_date)} - #{format_date(report.end_date)}" %></td>
            <td class="buttons">
              <%= link_to l(:button_delete),
                          remove_project_issue_report_issues_path(@project, @issue, report_id: report.id),
                          method: :delete,
                          remote: true,
                          class: 'icon icon-del' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </td>
</tr>