<%= form_with(url: (@project ? project_registry_reports_path(@project) : registry_reports_path),
              method: :post,
              local: true,
              id: 'report-form',
              data: { report_id: @report&.id }) do |f| %>
  <div class="box">
    <div class="form-field width-100">
      <%= f.label :name, l(:field_name) %>
      <%= f.text_field :name, id: 'report_name', name: 'name',required: true, maxlength: 254, style: 'width: 98%;' %>
    </div>
  </div>

  <div class="splitcontent">
    <div class="splitcontentleft">
      <div class="box">
        <% unless @project %>
          <p>
            <%= f.label :project_id, l(:field_project) %>
            <%= f.collection_select :project_id,
                                    @projects_with_module,
                                    :id, :name,
                                    { include_blank: true },
                                    { class: 'select2', id: 'project-select', style: 'width: 100%;' } %>
          </p>
        <% else %>
          <%= f.hidden_field :project_id, value: @project.id %>
        <% end %>
      </div>
    </div>

    <div class="splitcontentright">
      <div class="box">
        <p>
          <%= f.label :version_id, l(:field_version) %>
          <%= f.collection_select :version_id,
                                  @versions || [],
                                  :id, :name,
                                  { include_blank: true },
                                  { class: 'select2', id: 'version-select', name: 'version_id', style: 'width: 100%;' } %>
        </p>
      </div>
    </div>
  </div>

  <div class="box tabular" style="background-color: #f6f6f6; padding: 15px; margin-top: 15px;">
    <h3 style="margin-top: 0;"><%= l(:field_period) %></h3>

    <p>
      <%= f.label :period, l(:field_period_type) %>
      <%= f.select :period,
                   [['Месячный', 'месячный'], ['Квартальный', 'квартальный'],
                    ['Годовой', 'годовой'], ['Прочее', 'прочее']],
                   {},
                   { id: 'report_period',name: 'period', style: 'width: 200px;' } %>
    </p>

    <!-- Контейнер для динамических полей дат -->
    <div id="date_fields_container">
      <div id="monthly_fields" style="display: none;">
        <p>
          <label>Месяц и год отчета</label>
          <span class="inline-flex">
            <%= select_tag 'month',
                           options_for_select((1..12).map { |m| [t('date.month_names')[m], m] }),
                           { class: 'period-select', id: 'month_select', style: 'width: 150px; margin-right: 10px;' } %>
            <%= select_tag 'year',
                           options_for_select((Time.current.year-1..Time.current.year+1).to_a),
                           { class: 'period-select', id: 'year_select', style: 'width: 100px;' } %>
          </span>
        </p>
      </div>

      <div id="quarterly_fields" style="display: none;">
        <p>
          <label>Квартал и год отчета</label>
          <span class="inline-flex">
            <%= select_tag 'quarter',
                           options_for_select([['Квартал 1 (Янв-Мар)', 1], ['Квартал 2 (Апр-Июн)', 2],
                                               ['Квартал 3 (Июл-Сен)', 3], ['Квартал 4 (Окт-Дек)', 4]]),
                           { class: 'period-select', id: 'quarter_select', style: 'width: 150px; margin-right: 10px;' } %>
            <%= select_tag 'year',
                           options_for_select((Time.current.year-1..Time.current.year+1).to_a),
                           { class: 'period-select', id: 'year_select_q', style: 'width: 100px;' } %>
          </span>
        </p>
      </div>

      <div id="yearly_fields" style="display: none;">
        <p>
          <label>Год отчета</label>
          <%= select_tag 'year',
                         options_for_select((Time.current.year-1..Time.current.year+1).to_a),
                         { class: 'period-select', id: 'year_select_y', style: 'width: 150px;' } %>
        </p>
      </div>

      <div id="custom_date_fields" style="display: none;">
        <div class="splitcontent">
          <div class="splitcontentleft">
            <p>
              <%= f.label :start_date, l(:field_start_date) %>
              <%= f.date_field :start_date, id: 'report_start_date', style: 'width: 150px;' %>
            </p>
          </div>
          <div class="splitcontentright">
            <p>
              <%= f.label :end_date, l(:field_end_date) %>
              <%= f.date_field :end_date, id: 'report_end_date', style: 'width: 150px;' %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :start_date, id: 'hidden_start_date', name: 'start_date' %>
    <%= f.hidden_field :end_date, id: 'hidden_end_date', name: 'end_date' %>
  </div>

  <div class="box">
    <p>
      <%= f.label :contract_number, l(:field_contract_number) %>
      <%= f.text_field :contract_number, id: 'report_contract_number', name: 'contract_number', style: 'width: 200px;' %>
    </p>
  </div>

  <div class="box">
    <h3><%= l(:field_issues) %></h3>
    <div class="issues-selection-container">
      <%= f.select :issue_ids,
                   (@report.issues || []).map { |i| [i.to_s, i.id] },
                   {},
                   { multiple: true,
                     class: 'select2',
                     id: 'issues-select',
                     name: 'issue_ids[]',
                     style: 'width: 100%;',
                     # data: {
                     #   'pre': (@report.issues || []).map { |i| { id: i.id, text: "#{i.id} - #{i.subject}" } },
                     #   'search-url': search_report_report_issues_path(@report),
                     #   # 'auth-token': form_authenticity_token,  # Добавляем токен
                     #   'placeholder': l(:label_issue_search_placeholder)
                     # }
                   } %>
    </div>

    <%= render 'issues_table' %>
  </div>

  <div class="box form-actions">

    <p style="margin-bottom: 0;">
      <%= f.submit l(:button_save),
                   name: 'save_and_close',
                   class: 'button-positive',
                   data: { disable_with: l(:button_submitting) } %>

      <%= f.submit l(:button_save_and_continue),
                   name: 'save_and_continue',
                   class: 'button',
                   data: { disable_with: l(:button_submitting) } %>

      <%= link_to l(:button_back_to_list),
                  (@project ? project_registry_reports_path(@project) : registry_reports_path),
                  class: 'button' %>
    </p>
  </div>
<% end %>



<% content_for :header_tags do %>
  <%= javascript_include_tag 'common', plugin: 'report_registry' %>
  <%= javascript_include_tag 'project_versions', plugin: 'report_registry' %>
  <%= javascript_include_tag 'date_period_handler', plugin: 'report_registry' %>
  <%= javascript_include_tag 'issues_select_handler', plugin: 'report_registry' %>
  <%= javascript_include_tag 'report_hours', plugin: 'report_registry' %>
  <%= stylesheet_link_tag 'report_hours', plugin: 'report_registry' %>
<% end %>