<!--# app/views/reports/_issues_table.html.erb-->
<div class="report-issues-wrapper">
  <div id="issues-table-container" class="box">
    <div class="issues-table-header">
      <h3><%= l(:label_report_issues) %></h3>
      <% project = @project || @report&.project %>
      <% if project || @report %>
        <% modal_path = if @report&.persisted?
                         modal_issues_report_report_issues_path(@report)
                       elsif @project
                         modal_issues_project_report_report_issues_path(@project, 0)
                       else
                         modal_issues_report_report_issues_path(0)
                       end %>
        <%= link_to l(:button_add_issues),
                    modal_path,
                    class: 'button icon icon-add',
                    remote: true,
                    'data-modal': true,
                    'data-project-id': project&.id %>
      <% end %>
      <button id="delete-selected-issues"
              class="button icon icon-del"
              style="display: none;"
              data-report-id="<%= @report&.id %>"
              data-project-identifier="<%= project&.identifier %>">
        <%= l(:button_delete_selected) %>
      </button>
    </div>

    <table class="list issues-list">
      <thead>
      <tr>
        <th><input type="checkbox" id="select-all-issues" /></th>
        <th>#</th>
        <th><%= l(:field_subject) %></th>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_project) %></th>
        <th><%= l(:field_version) %></th>
        <th><%= l(:field_start_date) %></th>
        <th><%= l(:field_due_date) %></th>
        <th><%= l(:field_parent_issue) %></th>
        <th class="buttons"><%= l(:field_actions) %></th>
      </tr>
      </thead>
      <tbody id="report-issues-body">
      <%= render 'report_issues/issues_list' if @report&.persisted? %>
      </tbody>
    </table>
  </div>
</div>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'issues_table', plugin: 'report_registry' %>
  <%= stylesheet_link_tag 'issues_table', plugin: 'report_registry' %>
  <%= stylesheet_link_tag 'modal_window', plugin: 'report_registry' %>
<% end %>